<nav id="sidebar-icon-links">

    <a id="scholar-link"
       class="icon" title="Google Scholar" aria-label="Google Scholar"
       href="https://scholar.google.com/citations?user=k6RyLHsAAAAJ&hl=en">
      {% include svg/scholar.svg %}
    </a>
    
    <a id="twitter-link"
       class="icon" title="Twitter" aria-label="Twitter"
       href="https://twitter.com/avamariehoffman">
      {% include svg/twitter.svg %}
    </a>
    
    <a id="github-link"
       class="icon" title="Github" aria-label="Github"
       href="https://github.com/avahoffman">
      {% include svg/github.svg %}
    </a>
    
    <a id="linkedin-link"
       class="icon" title="LinkedIn" aria-label="LinkedIn"
       href="https://www.linkedin.com/in/avahoffman">
      {% include svg/linkedin.svg %}
    </a>

  {% include custom-icon-links.html %}
</nav>
